/*#region Общие правила*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    min-width: 360px;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: Roboto;
    color: #000000;
    background-color: #ffffff;

    background-repeat: no-repeat;
    background-size: cover;
}

.index {
    background-image: url("../img/bg-mobile.jpg");
    background-position: center center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-content {
    min-width: 360px;
    max-width: 990px;
    margin: 0 auto;
}

/*#endregion */

/*#region Шапка сайта*/
.header {
    min-width: 360px;
    max-width: 990px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 14px 14px 10px 14px;
}

.logo {
    display: block;
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.logo-span {
    font-size: 34px;
    font-weight: 100;
}

.login-btn {
    width: 71px;
    height: 40px;
    padding: 12px;

    font-size: 14px;
    font-weight: 500;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(22, 166, 175, 1);
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

/*#endregion */

/*#region Выбор даты фильма*/
.date-picker {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-bottom: 38px;
}

.date-item {
    width: 100%;
    height: 48px;

    font-size: 12px;
    font-weight: 400;

    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
}

.date-item-link {
    display: block;
    width: 100%;
    padding: 10px 20px;
}

.date-item-active {
    width: 190%;
    height: 52px;

    font-size: 15px;
    font-weight: 700;

    background-color: rgba(255, 255, 255, 1);
    ;
}

.saturday {
    color: rgba(222, 33, 33, 1);
}

.arrow-next {
    font-family: Consolas;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

/*#endregion */

/*#region Описание фильма */
.movie-container {
    padding: 15px;
    background-color: rgba(241, 235, 230, 0.95);
}

.movie {
    display: flex;
}

.movie-container:not(:last-child) {
    margin-bottom: 30px;
}

.movie-poster {
    width: 125px;
    height: 175px;
    margin-right: 15px;
}

.movie-description {
    width: 100%;
}

.movie-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 11px;
    line-height: 18px;
}

.movie-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 11px;
}

.movie-duration {
    font-size: 14px;
    font-weight: 300;
}

.hall {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 7px;
}

.movie-table:not(:last-child) {
    margin-bottom: 20px;
}

.movie-table {
    min-height: 37px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.movie-table-item {
    width: 53px;
    height: 33px;

    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;

    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

.movie-table-item-link {
    display: block;
    width: 100%;
    padding: 7px 7px 8px 8px;
}

/*#endregion */

/*#region Страница авторизации*/
.index-login {
    background-image: url("../img/login-bg.jpg");
}

.header-login {
    min-width: 360px;
    max-width: 972px;
    padding: 13px;
    margin: 0 auto;
}

.logo-text {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.auth-header {
    min-width: 390px;
    max-width: 480px;
    height: 57px;
    margin: 0px auto;
    padding: 16px;

    background-color: rgba(99, 83, 108, 1);
}

.auth-header-text {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.login-form {
    display: flex;
    flex-direction: column;
    min-width: 390px;
    max-width: 480px;
    height: 237px;
    padding: 35px 60px;
    margin: 0px auto;
    background-color: rgba(234, 233, 235, 0.95);

}

.login-form-label {
    display: block;
    width: 272px;
    margin: 0px auto;
    font-size: 12px;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
}

.input-login,
.input-password {
    width: 272px;
    height: 36px;
    padding: 8px 8.8px 9px 8.8px;
    margin: 0px auto;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(183, 183, 183, 1);
}

.input-login {
    margin-bottom: 9px;
}

.input-password {
    margin-bottom: 17px;
}

.auth-btn {
    width: 189px;
    height: 40px;
    padding: 11px 32px;
    margin: 0px auto;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(22, 166, 175, 1);
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

@media (min-width: 769px) {
    .header-login {
        padding: 35px 42px 33px 104px;
    }

}

/*#endregion */

/*#region Страница выбора билетов*/
.seance {
    background-image: url("../img/bg-mobile.jpg");
    background-position: center center;
}

.header-seance {
    min-width: 360px;
    max-width: 990px;
    height: 67px;
    padding: 13px;
    margin: 0 auto;
}

.seance-header-text {
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

.main-seance {
    min-width: 390px;
    max-width: 990px;
    margin: 0px auto;
    height: 591px;
    background-color: rgba(241, 235, 230, 0.95);
}

.main-seance-header {
    height: 115px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.seance-start-time {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
}

.seance-hall-name {
    font-size: 16px;
    font-weight: 700;
}

.tap {
    width: 100px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.tap::before {
    content: url(../img/hint.png);
    width: 24px;
    height: 32px;
    position: absolute;
    top: 109px;
    right: 101px;
}

.hall-config {
    height: 376px;
    padding: 15px 30px;
    background-color: rgba(23, 29, 36, 1);
}

.hall-config-wrapper {
    width: 284px;
    height: 266px;
    margin: 0px auto;
}

.screen {
    height: 30px;
    background-image: url(../img/screen.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.halls-row {
    display: flex;
    gap: 4px;
}

.halls-row:not(:last-child) {
    margin-bottom: 4px;
}

.halls-seat {
    background-color: rgba(255, 255, 255, 1);
    width: 20px;
    height: 20px;
    border: 1px solid rgba(82, 82, 82, 1);
    border-radius: 4px;
    cursor: pointer;
}

.disabled-seat {
    background-color: rgba(23, 29, 36, 1);
    border: none;
    cursor: default
}

.vip-seat {
    background-color: rgba(249, 149, 58, 1);
}

.taken-seat {
    background-color: rgba(23, 29, 36, 1);
    border: 1px solid rgba(82, 82, 82, 1);
    cursor: default;
}

.selected-seat {
    background-color: rgba(37, 196, 206, 1);
    box-shadow: 0px 0px 4px 0px rgba(22, 166, 175, 1);
}

.seats-legend {
    margin-top: 30px;
    display: flex;
}

.seat-prices,
.seats-available {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.seats-prices {
    width: 184px;
    padding-left: 10px;
}

.seats-legend-wrapper {
    width: 184px;
    display: flex;
}

.seats-legend-wrapper > .halls-seat {
    cursor: default;
}

.seats-legend-wrapper:not(:last-child) {
    margin-bottom: 10px;
}

.seats-legend-text {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}

.book-btn {
    display: block;
    width: 232px;
    height: 40px;
    margin: 30px auto 0px auto;
    padding: 11px 57px;

    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;

    background-color: rgba(22, 166, 175, 1);
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

@media (min-width: 769px) {
    .main-seance-header {
        height: 97px;
    }

    .main-seance {
        height: 573px;
    }

    .tap {
        display: none;
    }
}


/*#endregion */